/*#region Header */

.backgroundLogo{
    width:100%;
    height:400px;
}

.crumbs{
    position:absolute;
    top:2%;
    right:10%;
    list-style-type: none;
}

.crumbs ol{    
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-direction: row;
    line-height: 10vh;

}


.crumb{
    margin-right:20%;
}
.crumb a{
    text-decoration:none;
    font-size: 2vw;
    color:black;
}

.crumb a:hover{
    border-top:4px solid rgb(23, 2, 99);
}




/*#endregion*/


/*#region Main */

span{
    font-weight:bold;
}

figure img{
    width: 60%;
    overflow:hidden;
    border-radius:20px 0 0 20px;
}

#productList{
    margin-left: 0%;
    padding:0;
}

li a{
    text-decoration: none;;
}
 

figure{
    border:1px solid rgb(87, 75, 75);
    box-shadow: 7px 8px 10px 1px rgba(0, 0, 255, .2);
    border-radius:20px;
    display:flex;
    margin-top:10%;
    width: 70%;
    margin-left: 15%;
}

figcaption{
    width:40%;
    background-color:rgba(225, 225, 245, 0.3);
    position:relative;
}

#descriptif{
    color:black;
    margin-left: 2%;
    font-size: 1.5em;
    height: 60%;
}

h3{
    text-align:center;
    line-height:3em;
    font-size:2em;
    color:black;
    font-weight:bold;
}

.fas{
    position:absolute;
    right:10%;
    bottom:10%;
    font-size:2em;
    color:black;
}

.fas:hover{
    color:rgb(243, 85, 111);
}
.item{
    list-style-type:none;
}


/*#endregion*/

/*#region footer */

.foot{
    background: linear-gradient(#e66465, #9198e5);
    width:100%;
    padding:5%;
    margin-top:7%;
    padding-left:0;
}

.socialNetwork{
    font-size:2.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.contact ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    font-size: 2em;
    font-weight: bold;
}


/*endregion*/




