/*#region Header */

header{
    background-color:rgb(228, 226, 226);
}

body{
    font-family:arial;
}

.crumbs{
    position: absolute;
    top: 7%;
    right: 12%;
}

h1{
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.crumbs ol{    
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-direction: row;
    line-height: 10vh;

}


.crumb{
    margin-right:20%;
}
.crumb a{
    text-decoration:none;
    font-size: 2vw;
    color:black;
}

.crumb a:hover{
    border-top:4px solid rgb(23, 2, 99);
}

.camera{
    border: 3px solid grey;
    margin-bottom: 2%;
    width: 40%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list div{
    margin-bottom: 5%;
    display: flex;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-price{
    display: flex;
    justify-content: flex-end;
    margin: 1%;
    font-size: 1.7em;
    color:rgb(92, 92, 92);
}

.card-title{
    text-align: center;
    background-color: rgb(210, 132, 247);
    font-size: 2em;
    margin:0;
}

.buttonAjouter{
    text-decoration: none;
    color:black;
    font-weight:bold;
}


/*#endregion*/


/*#region Main */

img{
    width: 100%;
    object-fit: cover;
    height: 45vh;
}

span{
    font-weight:bold;
}


li a{
    text-decoration: none;;
}
 

.fas{
    position:absolute;
    right:10%;
    bottom:10%;
    font-size:2em;
    color:black;
}

.fas:hover{
    color:rgb(243, 85, 111);
}
.item{
    list-style-type:none;
}

.appareil{
    border: 1px solid black;
    width: 60%;
}

#Cameras{
    position: relative;
    display: flex;
    justify-content: center;
}

.options{
    position: absolute;
    top: 88%;
    font-weight: bold;
    font-size: 1.2em;
    background-color: bisque;
}

.nom{
    text-align: center;
    font-size: 2em;
    background-color: violet;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.prix{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#panier{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    background-color: violet;
    position: right;
    float: right;
    padding: 1%;
    border: 1px solid black;
}

tr td{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    margin-top:4%;
}

.srcimage{
    width:65%;
}

.totaux{
    padding: 4%;
    background-color: blueviolet;
    font-size: 1.5em;
}

#viderPanier{
    margin-bottom: 6%;
    text-align: center;
    padding: 1%;
    font-weight: bold;
    margin-top:2%;
}

#finalPrice{
    font-size: 1.5em;
}

form{
    display: inline-block;
    border: 1px solid black;
    padding: 4%;
    border-radius: 3%;
    background-color: lightgoldenrodyellow;
    margin-left: 35%;
}
 form div{
     padding-top: 7%;
 }


/*#endregion*/

/*#region footer */

.foot{
    background: linear-gradient(#e66465, #9198e5);
    padding:5%;
    margin-top:7%;
    padding-left:0;
}

.socialNetwork{
    font-size:2.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.socialNetwork a{
    color:black;
}

.contact ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    font-size: 2em;
    font-weight: bold;
}

.contact a{
    color:black;
}

/*endregion*/




